@import "~prismjs/themes/prism-solarizedlight.css"

@import "~flex.css"

// prism-coy.css
// prism-okaidia.css
// prism-twilight.css
// prism-dark.css
// prism-solarizedlight.css
// prism.css
// prism-funky.css
// prism-tomorrow.css
