$accentColor = #5C9BF9

@import "~prismjs/themes/prism-funky.css"

// prism-coy.css
// prism-okaidia.css
// prism-twilight.css
// prism-dark.css
// prism-solarizedlight.css
// prism.css
// prism-funky.css
// prism-tomorrow.css
