// 颜色
$accentColor = #3884FE
$textColor = #3B414E
$borderColor = #E6ECF1
$codeBgColor = #F5F7F9
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 颜色 [ 只在修改的主题中使用 ]

$textInfoColor = #9DAAB6
$sidebarBgColor = #F5F7F9
$sidebarLinkHoverBgColor = #E6ECF1
$sidebarLinkActiveBgColor = #FFFFFF
$navbarBorderColor = #D4DADF
$navbarBgColor = #FFFFFF

// 阴影 [ 只在修改的主题中使用 ]
$navbarShadow = 0 3px 8px 0 rgba(116, 129, 141, 0.1)

// 布局
$navbarHeight = 5rem
$sidebarWidth = 18rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px