.custom-block
  div[class*="language-"]
    background-color darken($codeBgColor, 5%)
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .2rem
    border-left-style solid
    border-radius 0.1rem
    margin 1rem 0
  &.tip
    background-color #F5F7F9
    border-color $accentColor
  &.warning
    background-color #F5F7F9
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #F5F7F9
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor


